.header { /* requisito 1 */
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;}

.trybewarts-login { /* requisito 2 */
  display: flex;}

.trybewarts-header-title { /* requisito 4 */
  display: flex;}

#evaluation-form { /* requisito 5 */
  display: flex;
  width: 675px;
  flex-flow: column;} /* requisito 6 */

main {
  display: flex;}

#trybewarts-forms-logo { /* requisito 7 */
  height: 500px;}

.trybewarts-header-logo {
  height: 100px;}
